/* Colores y Body*/ 
* {
    margin: 0;
    padding: 0;
}

:root {
    --main-white: #f0f0f0;
    --main-gray: #303841;
    --main-red: #be3144;
}

body {
    background-color: var(--main-gray);
    color: var(--main-white);
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}

.title {
    background-color: var(--main-white);
    color: var(--main-gray);
    margin: 50px auto 50px auto;
    padding: 20px;
    width: 43%;
    font-size: 5rem;
}

/* Estilos container, input usuario, botones submitBtn y restartBtn */
.container {
    background-color: var(--main-gray);
    margin: 50px auto 50px auto;
    width: 45%;
}

.userNbox {
    text-align: center;
    margin: 20px auto;
}

.userNbox p {
    display: inline;
    margin-right: 10px;
}

.userNbox i {
    vertical-align: middle;
    margin-top: 27px;
}

#textInput {
    display: flex;
    width: 50%;
    padding: 10px;
    margin: 10px auto;
    font-size: x-large;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--main-gray);
    border: solid 2px var(--main-red);
    border-radius: 8px;
    color: var(--main-white);
    transition: border 0.3s ease-in-out;
}

#textInput:hover {
    border-color: var(--main-white);
}

.btnInput, #restartBtn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 6px;
    height: 50px;
    width: 50px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 50%;
    font-size: xx-large;
    cursor: pointer;
    border: solid 2px var(--main-red);
    color: var(--main-red);
    transition: background-color 0.3s ease-in;
}

#restartBtn {
    padding: 6px;
    margin-top: 1rem;
}

.btnInput:hover, #restartBtn:hover {
    background-color: var(--main-red);
    color: var(--main-white);
}

/* Estilos y Animaciones matchDiv */
.matchDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.vsSpan {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userChoice, .comChoice {
    display: inline-block;
    position: relative;
}

.icon-text, .icon-textP, .icon-textT {
    position: absolute;
    transform: translate(-50%, -50%);
    color: rgb(133,51,66);
}

.icon-text {
    top: 45%;
    left: 53%
}

.icon-textP {
    top: 67%;
    left: 54%;
}

.icon-textT {
    top: 51%;
    left: 67%;
} 

.userChoice.collisionUser .sRockU {
    animation: collisionUserSpanRock 0.5s ease-in-out;
}

@keyframes collisionUserSpanRock {
    0%, 100% {
        transform: translate(0);
        top: 35%;
        left: 40%;
    }
    50% {
        transform: translate(70px, 0);
    }
}

.userChoice.collisionUser .sPaperU {
    animation: collisionUserSpanPaper 0.5s ease-in-out;
}

@keyframes collisionUserSpanPaper {
    0%, 100% {
        transform: translate(0);
        top: 57%;
        left: 43%;  
    }
    50% {
        transform: translate(70px, 0);
    }
}

.userChoice.collisionUser .sScisU {
    animation: collisionUserSpanScsissor 0.5s ease-in-out;
}

@keyframes collisionUserSpanScsissor {
    0%, 100% {
        transform: translate(0);
        top:41%;
        left: 56%;
    }
    50% {
        transform: translate(70px, 0);
    }
}

.userChoice.collisionUser .iRock,
.userChoice.collisionUser .iPaper,
.userChoice.collisionUser .iScissors {
    animation: collisionUserIcons 0.5s ease-in-out;
}

@keyframes collisionUserIcons {
    0%, 100% {
        transform: translate(0) scaleX(-1);
    }
    50% {
        transform: translate(70px, 0) scaleX(-1);
    }
}

.comChoice.collisionCom .iRock {
    animation: collisionComR 0.5s ease-in-out;
}

@keyframes collisionComR {
    0%, 100% {
        transform: translate(0);
        top: 35%;
        left: 40%;
    }
    50% {
        transform: translate(-70px, 0);
    }
}

.comChoice.collisionCom .iPaper {
    animation: collisionComP 0.5s ease-in-out;
}

@keyframes collisionComP {
    0%, 100% {
        transform: translate(0);
        top: 57%;
        left: 43%;  
    }
    50% {
        transform: translate(-70px, 0);
    }
}

.comChoice.collisionCom .iScissors {
    animation: collisionComS 0.5s ease-in-out;
}

@keyframes collisionComS {
    0%, 100% {
        transform: translate(0);
        top: 41%;
        left: 56%;  
    }
    50% {
        transform: translate(-70px, 0);
    }
}

.userChoice .fa-hand,
.userChoice .fa-hand-back-fist,
.userChoice .fa-hand-scissors {
    box-shadow: inset -30px 30px 150px var(--main-red), 0 0 50px var(--main-red);
    border-radius: 45%;
}

.comChoice .fa-hand,
.comChoice .fa-hand-back-fist,
.comChoice .fa-hand-scissors {
    box-shadow: inset 30px 30px 150px var(--main-red), 0 0 50px var(--main-red);
    border-radius: 45%;
}

/* Estilos scoreBoard */
.scoreBoard {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    text-align: center;
    margin: 50px 20px;
}

.spanScore {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 20px;
}

.spanColor {
    background-color: var(--main-red);
    border-radius: 8px;
}

/* Botones e Iconos Piedra Papel Tijera */
.btnContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    margin: 20px 0 20px 0;
}

.btnSelect {
    width: 175px;
    height: 175px;
    background-color: var(--main-white);
    color: var(--main-gray);
    border-radius: 50%;
    border: 4px dotted var(--main-red);
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

.btnSelect:hover {
    background-color: var(--main-red);
    color: var(--main-white);
    border: 4px dotted var(--main-white);
}

.icon-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnSpan {
    display: block;
    margin-top: 10px;
    color: var(--main-white);
}

/* Estilos historyTable */
.historyGames {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.wGames, .lGames {
    text-align: center;
}

.crown {
    color: gold;
}

.x {
    color: var(--main-red);
}

/* WinnerAlert estilos */
.winnerBanner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-white);
    padding: 40px 40px;
    border: 5px solid var(--main-red);
    border-radius: 5px;
    font-size: 3rem;
    font-weight: bold;
    z-index: 1000;
    color: gold;
    background-color: var(--main-gray);
    box-shadow: 0px 0px 8px rgba(255, 215, 0, 0.8);
    cursor: pointer;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--main-white);
}

.center-content i {
    margin-bottom: 10px;
}

.center-content p {
    margin: 5px 0;
}

.goldI, .goldP {
    color: gold;
    text-shadow: 0px 0px 8px rgba(255, 215, 0, 0.8);
}

.blurBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Reset boton */
#resetAll {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 1rem;
    cursor: pointer;
    border: solid 2px var(--main-white);
    background-color: var(--main-gray);
    color: var(--main-white);
    transition: background-color 0.3s ease-in;
}

#resetAll:hover {
    background-color: var(--main-white);
    color: var(--main-gray);
    border: dotted 5px var(--main-red);
}